{% extends "base.html" %}

{% block title %}
Лог изменений - Шаурма у Алекса
{% endblock %}

{% block content %}
<h2>Лог изменений</h2>

<div class="info-box">
    <h3>Версия 3.0 - 19.09.2026</h3>
    <ul>
        <li>Обновлён дизайн - теперь ещё ярче и круче!</li>
        <li>Добавлены анимации и градиенты</li>
        <li>Улучшены переходы и hover эффекты</li>
        <li>Изменено название на "Шаурма у Алекса"</li>
        <li>Добавлено фото шефа Алекса</li>
    </ul>
</div>

<div class="info-box">
    <h3>Версия 2.0 - 19.09.2026</h3>
    <ul>
        <li>Добавлен крутой дизайн в стиле шаурмичной</li>
        <li>Подключен отдельный CSS файл</li>
        <li>Добавлены анимации и переходы</li>
        <li>Улучшена адаптивность для мобильных устройств</li>
        <li>Оформлены формы и сообщения об ошибках</li>
    </ul>
</div>

<div class="info-box">
    <h3>Версия 1.0 - 18.09.2026</h3>
    <ul>
        <li>Создана главная страница</li>
        <li>Добавлено меню с блюдами</li>
        <li>Реализована фильтрация по категориям</li>
        <li>Добавлена страница акции для студентов</li>
        <li>Реализована форма получения промокода с валидацией</li>
        <li>Добавлена страница "О нас"</li>
    </ul>
</div>
{% endblock %}